*{
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 120px;
}

h1{
    text-align: center;
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 110%;
    font-size: 5em;
    color: #FFFFFF;
}

.instructions{
    margin-top: 20px;
}

header{
    background-color: #3F51B5;
    padding-top: 10px;
    padding-bottom: 20px;
}

.section-header{
    font-size:3em;
}

.btn{
    font-size: 1em;
    border-radius: 0;
}

th, input[type=text], input[type=number], p, .btn-group > .btn, td > a.btn, .row .btn{
    font-size: 1.3em;
}

td > p{
    margin: 0;
}

input[type=text]:focus, input[type=number]:focus{
    border-bottom-color: #3F51B5;
}

button.btn{
    font-size: 1.3em;
    margin-bottom: 15px;
}

.btn-primary{
    background-color: #5C6BC0;
}

.btn-primary:hover, .btn-primary:active{
    background-color: #3F51B5;
}

.roommate{
    margin: 10px;
}

.roommate.card-panel, .food.card-panel{
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.roommate.row{
    margin: 0;
    padding: 0;
}
.roommate.col-md-8, .roommate.col-md-4, .food .col-xs-8, .food .col-xs-4{
    padding: 0;
    margin: 0;
}
.roommate-name, .roommate-button{
    text-transform: capitalize;
    word-wrap: break-word;
}

th{
    text-align: center;
}

.form-control{
    margin-bottom: 5px;
}

form.food-item{
    margin-top: 20px;
}

footer.page-footer{
    color: #FFFFFF;
    background-color: #3F51B5;
    height: 120px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .container{
    padding-bottom: 15px;
}

a, a:visited, a:focus{
    color: #FFFFFF;
    text-decoration: none;
}

a:hover, a:active{
    text-decoration: none;
    color: #d0d0d0;
}


.glyphicon-trash, .glyphicon-pencil, .glyphicon-ok{
    float: right;
}

.edit-display-card .glyphicon-trash, .edit-display-card .glyphicon-ok {
    float:none;
}

.edit-display-card p {
    text-align: center;
}
/* Removes arrows from input type = number*/
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.tax-select{
    border-radius: 0;
    font-size: 1.3em;
    width: 100px;
    height: 39px;
}

.tax-column{
    width: 100px;
}

.visible-mobile{
    display: none !important;
}

.visible-desktop{
    display: block !important;
}
