*{
    text-align: center;
}

h1{
    text-align: center;
    font-family: AdamCGPro, "Helvetica Neue", Arial, sans-serif;
    line-height: 110%;
    font-size: 5em;
}

.roommate{
    display:inline-block;
    margin: 10px;
}

.roommate-name{
    text-transform: capitalize;
}

table.food-item{
    width: 100%;
    margin: auto auto;
}

th{
    text-align: center;
}

.form-control{
    margin-bottom: 5px;
}

form.food-item{
    margin-top: 20px;
}

footer{
    margin-top: 20px;
    padding: 40px;
    color: #FFFFFF;
    background-color: #303F9F;
    width: 100%;
}

footer a{
    color: #FFFFFF;
}

footer a:hover{
    text-decoration: none;
    color: #d0d0d0;
}


.container{
    width: 95%;
}

@font-face {
    font-family: AdamCGPro;
    src: url(fonts/ADAM.CGPRO.otf);
}

