<!DOCTYPE html>
<html lang = "en" ng-app = "Splitter">
    <head>
        <meta charset = "utf-8">
        <meta http-equiv="X-UA-Compatible" content ="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Splitter</title>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="sass/materialize.css">
        <link rel="stylesheet" href = "css/style.css">

        <script type ="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
        <script type ="text/javascript" src = "js/splitter.js"></script>
        <script type ="text/javascript" src = "js/ui-bootstrap-0.12.0.min.js"></script>

    </head>
    <body ng-controller = "MainController">
        <header>
            <h1>Splitter</h1>
        </header>

        <div class = "container" ng-cloak>
            <div class = "row">
                <section class = "col l3 roommates">
                    <h2 class = "section-header">Roommates</h2>
                    <div class = "roommate card-panel" ng-repeat="person in roommates track by $index">
                        <p class = "roommate-name">{{person.name}} - ${{person.money}} <a class="btn btn-default glyphicon glyphicon-trash" aria-hidden="true" ng-click="removePerson($index)"></a></p>
                    </div>
                    <form class = "roommate" ng-submit = "addPerson()">
                        <input class = "form-control input input" placeholder = "Name" ng-model = "newName" type="text">
                        <button class = "btn btn-lg btn-primary" type = "submit">Add Roommate!</button>
                    </form>
                </section>
                <section class = "col l9 groceries">
                    <h2 class = "section-header">Groceries</h2>

                    <table class = "striped centered responsive-table food-item">
                        <thead>
                            <tr ng-if="food">
                                <th>Item Name</th>
                                <th>Cost</th>
                                <th>Excluded People</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = "item in food track by $index">
                                <td>{{item.name}}</td>
                                <td>{{item.cost}}</td>
                                <td>
                                    <div class="btn-group">
                                        <label class="btn btn-default" ng-model="item.people[$index]" btn-checkbox ng-repeat="person in roommates track by $index"  ng-change="calculateMoney()">{{person.name}}</label>
                                    </div>
                                    <a class="btn btn-default glyphicon glyphicon-trash" aria-hidden="true" ng-click="removeFood($index)"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <form class = "food-item form-inline" ng-submit = "addFood()">
                        <input class = "form-control input" placeholder = "Item Name" ng-model="newFood.name" type="text">
                        <input class = "form-control input" placeholder = "Cost" ng-model="newFood.cost" type="number" step = "any" min = "0">
                        <button class="btn btn-lg btn-primary" type="submit">Add item!</button>
                    </form>
                </section>
            </div>
        </div>

        <footer class = "page-footer">
            <div class = "container">
                <p>Find Splitter on <a href = "https://github.com/DeonHua/Splitter">Github!</a></p>
            </div>
            <div class = "footer-copyright"> 
                <p>Made with love.</p>
            </div>
        </footer>
    </body>


</html>
